<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
        <section name="xsettings" type="Fantasy.Configuration.XSettingsConfigurationHandler, Fantasy.Base"/>
    </configSections>

    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
        <session-factory>
            <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
            <property name="connection.provider">Fantasy.BusinessEngine.Services.NHConnectionProvider, Fantasy.BusinessEngine</property>
            <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
            <property name="connection.isolation">ReadCommitted</property>

            <property name="proxyfactory.factory_class">
                NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu
            </property>
        </session-factory>
    </hibernate-configuration>

    <xsettings>
        <settings type="Fantasy.BusinessEngine.Properties.Settings">
            <ReferencesPath>.\AppData\ReferenceAssemblies</ReferencesPath>
            <SystemReferencesPath>.\AppData\SystemReferenceAssemblies</SystemReferencesPath>
        </settings>
        <settings type="Fantasy.Studio.BusinessEngine.Properties.Settings">
            <SystemFileSyntax>
                <file lang="C#" ext=".cs"/>
                <file lang="XML" ext=".xml;.xsl;.xslt;.xsd;.manifest;.config;.addin;.xshd;.wxs;.wxi;.wxl;.proj;.csproj;.vbproj;.ilproj;.booproj;.build;.xfrm;.targets;.xaml;.xpt;.xft;.map;.wsdl;.disco"/>
                <file lang="JavaScript" ext=".js"/>
                <file lang="HTML" ext=".html;.htm"/>
                <file lang="ASPX/XHTML" ext=".asp;.aspx;.asax;.asmx;.ascx;.master"/>
                <file lang="CSS" ext=".css"/>
            </SystemFileSyntax>
        </settings>
    </xsettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
