<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="addin"
                 type="Fantasy.AddIn, Fantasy.Base" />
    </configSections>

    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding
                    hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536"
                    maxConnections="10"
                    maxReceivedMessageSize="65536"
                    receiveTimeout="00:10:00"
                    transactionFlow="false">
                    <security mode="None">
                    </security>
                </binding>
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding
                    closeTimeout="00:00:15"
                    openTimeout="00:00:15"
                    receiveTimeout="00:10:00"
                    sendTimeout="00:00:15"
                    transactionFlow="false"
                    transferMode="Buffered"
                    transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard"
                    listenBacklog="10"
                    maxBufferPoolSize="10485760"
                    maxBufferSize="10485760"
                    maxConnections="10"
                    maxReceivedMessageSize="10485760">
                    <readerQuotas maxDepth="32"
                                  maxStringContentLength="10485760"
                                  maxArrayLength="16384"
                                  maxBytesPerRead="4096"
                                  maxNameTableCharCount="16384" />
                    <reliableSession ordered="true"
                                     inactivityTimeout="00:10:00"
                                     enabled="false"  />
                    <security mode="None" />

                </binding>
            </netTcpBinding>
           
        </bindings>
        <client >
            <endpoint address="net.pipe://Fantasy.Tracking/ITrackProviderService"
                      binding="netNamedPipeBinding"
                      contract="Fantasy.Tracking.ITrackProviderService"/>
            <endpoint address="net.pipe://Fantasy.Tracking/ITrackManagerService"
                      binding="netNamedPipeBinding"
                      contract="Fantasy.Tracking.ITrackManagerService" />
            <endpoint address="net.pipe://Fantasy.Tracking/ITrackListenerService"
                      binding="netNamedPipeBinding"
                      contract="Fantasy.Tracking.ITrackListenerService" />
        </client>
        <services>
            <service name="Fantasy.Tracking.TrackProviderService">
                <endpoint address="net.pipe://Fantasy.Tracking/ITrackProviderService"
                    binding="netNamedPipeBinding" contract="Fantasy.Tracking.ITrackProviderService" />
            </service>
            <service name="Fantasy.Tracking.TrackManagerService">
                <endpoint address="net.pipe://Fantasy.Tracking/ITrackManagerService"
                    binding="netNamedPipeBinding" contract="Fantasy.Tracking.ITrackManagerService" />
            </service>
            <service name="Fantasy.Tracking.TrackListenerService">
                <endpoint address="net.pipe://Fantasy.Tracking/ITrackListenerService"
                    binding="netNamedPipeBinding" contract="Fantasy.Tracking.ITrackListenerService" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="True" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.runtime.remoting>
        <application>
            <client>
                <wellknown type="Fantasy.Jobs.Management.JobManagerAccessor, Fantasy.Jobs"
                           url="ipc://FantasyJobManager/JobManagerAccessor.rem"/>
            </client>
            <channels>
            </channels>
        </application>
    </system.runtime.remoting>
    <appSettings>
        <add key="FantasySettingsFile"
             value="Fantasy.JobService.xsettings"/>
    </appSettings>
    <connectionStrings>
        <add name="FantasyJobsEntities"
             connectionString="metadata=res://*/Management.FantasyJobs.csdl|res://*/Management.FantasyJobs.ssdl|res://*/Management.FantasyJobs.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\FantasyJob.sdf&quot;"
             providerName="System.Data.EntityClient"/>
    </connectionStrings>

    <addin>
        <jobService>
            <services>
                <service type="Fantasy.Jobs.Management.JobManagerSettingsReaderService, Fantasy.Jobs" />
                <service type="Fantasy.ServiceModel.LogService, Fantasy.Base" />
                <service type="Fantasy.Jobs.Management.LogFileService, Fantasy.Jobs" />
                <service type="Fantasy.ServiceModel.LogDebugService, Fantasy.Base" />
                <service type="Fantasy.Jobs.Management.JobTemplatesService, Fantasy.Jobs" />
                <service type="Fantasy.Jobs.Management.EFJobQueueService, Fantasy.Jobs" />
                <service type="Fantasy.Jobs.Scheduling.ScheduleService, Fantasy.Jobs" />
                <service type="Fantasy.Jobs.Resources.ResourceRequestQueue, Fantasy.Jobs" />
                <service type="Fantasy.Jobs.Resources.ResourceManager, Fantasy.Jobs" />
                <service type="Fantasy.Jobs.Management.InProcessJobController, Fantasy.Jobs" />
            </services>
        </jobService>
        <jobEngine>
            <engine.services>
                <service type="Fantasy.Jobs.DomainUnhandledExcepationService, Fantasy.Jobs" />
                <service type="Fantasy.ServiceModel.LogService, Fantasy.Base"/>
                <service type="Fantasy.Jobs.JobLogFileService, Fantasy.Jobs"/>
                <service type="Fantasy.ServiceModel.LogDebugService, Fantasy.Base"/>
                <service type="Fantasy.ServiceModel.LogConsoleService, Fantasy.Base" />
                <service type="Fantasy.Jobs.Resources.ResourceService, Fantasy.Jobs" />
                <service type="Fantasy.Jobs.JobStatusStorageService, Fantasy.Jobs"/>
                <service type="Fantasy.Jobs.TrackProviderService, Fantasy.Jobs" />
                <service type="Fantasy.Jobs.TrackMessageService, Fantasy.Jobs" />
                <service type="Fantasy.Jobs.TrackProgressService, Fantasy.Jobs" />
                <service type="Fantasy.Jobs.TrackStatusService, Fantasy.Jobs" />
                
            </engine.services>
            <job.services>
                <service type="Fantasy.Jobs.ConditionService, Fantasy.Jobs"/>
                <service type="Fantasy.Jobs.StringParseService, Fantasy.Jobs"/>
                <service type="Fantasy.Jobs.ItemParseService, Fantasy.Jobs"/>
            </job.services>
            <tagValueProviders>
                <provider type="Fantasy.Jobs.ReservedPropertiesTagProvider, Fantasy.Jobs" />
                <provider type="Fantasy.Jobs.TaskItemScalarReader, Fantasy.Jobs" />
                <provider type="Fantasy.Jobs.TaskItemAggregateReader, Fantasy.Jobs" />
                <provider type="Fantasy.Jobs.JobRuntimeStateReader, Fantasy.Jobs"/>
                <provider type="Fantasy.Jobs.JobPropertyReader, Fantasy.Jobs"/>
                <provider type="Fantasy.Jobs.EnvironmentVariablesReader, Fantasy.Jobs"/>
                <provider type="Fantasy.Jobs.RegistryReader, Fantasy.Jobs"/>
            </tagValueProviders>
        </jobEngine>
    </addin>
   
    
    <startup useLegacyV2RuntimeActivationPolicy="true">

        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.0"/>

    </startup>
</configuration>
