<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_Client" closeTimeout="00:00:10"
          openTimeout="00:00:10" receiveTimeout="00:10:00" sendTimeout="00:00:10"
          clientBaseAddress="http://Dev-PC01:10000/Fantasy.TrackingClient/">
          <security mode="None">
            <!--<message clientCredentialType="UserName" negotiateServiceCredential="true"
                algorithmSuite="Default" />-->
          </security>

        </binding>
        <binding name="WSDualHttpBinding_Server" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <security mode="None">
            <!--<message clientCredentialType="UserName" negotiateServiceCredential="true"
                algorithmSuite="Default" />-->
          </security>

        </binding>

      </wsDualHttpBinding>
      <netNamedPipeBinding>
        <binding
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferSize="65536"
                 maxConnections="10"
                 maxReceivedMessageSize="65536"
                 receiveTimeout="00:10:00"
                 transactionFlow="false">
          <security mode="None">
          </security>
        </binding>
      </netNamedPipeBinding>

    </bindings>
    <client >
      <endpoint address="http://localhost:8723/Fantasy.Tracking/ITrackProviderService/" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_Client" contract="Fantasy.Tracking.ITrackProviderService"/>
      <endpoint address="http://localhost:8723/Fantasy.Tracking/ITrackManagerService/" binding="wsDualHttpBinding"  bindingConfiguration="WSDualHttpBinding_Client" contract="Fantasy.Tracking.ITrackManagerService" />
      <endpoint address="http://localhost:8723/Fantasy.Tracking/ITrackListenerService/" binding="wsDualHttpBinding"  bindingConfiguration="WSDualHttpBinding_Client" contract="Fantasy.Tracking.ITrackListenerService" />
      <!--<endpoint address="net.pipe://Fantasy.Tracking/ITrackProviderService/" binding="netNamedPipeBinding" contract="Fantasy.Tracking.ITrackProviderService"/>
      <endpoint address="net.pipe://Fantasy.Tracking/ITrackManagerService/"  binding="netNamedPipeBinding" contract="Fantasy.Tracking.ITrackManagerService" />
      <endpoint address="net.pipe://Fantasy.Tracking/ITrackListenerService/" binding="netNamedPipeBinding" contract="Fantasy.Tracking.ITrackListenerService" />-->
    </client>
    <services>
      <service name="Fantasy.Tracking.TrackProviderService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_Server" contract="Fantasy.Tracking.ITrackProviderService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="netNamedPipeBinding" contract="Fantasy.Tracking.ITrackProviderService" >

        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8723/Fantasy.Tracking/ITrackProviderService/" />
            <add baseAddress="net.pipe://Fantasy.Tracking/ITrackProviderService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Fantasy.Tracking.TrackManagerService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_Server" contract="Fantasy.Tracking.ITrackManagerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="netNamedPipeBinding" contract="Fantasy.Tracking.ITrackManagerService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8723/Fantasy.Tracking/ITrackManagerService/" />
            <add baseAddress="net.pipe://Fantasy.Tracking/ITrackManagerService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Fantasy.Tracking.TrackListenerService">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_Server" contract="Fantasy.Tracking.ITrackListenerService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="netNamedPipeBinding" contract="Fantasy.Tracking.ITrackListenerService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8723/Fantasy.Tracking/ITrackListenerService/" />
            <add baseAddress="net.pipe://Fantasy.Tracking/ITrackListenerService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
