<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClickView.Jobs.JobManagerWin.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="clickview">
            <section name="jobManager.services"
                     type="ClickView.Jobs.TypesBuilderConfigurationHandler, ClickView.Jobs" />
            <section name="jobManager.resources"
                     type="ClickView.Jobs.TypesBuilderConfigurationHandler, ClickView.Jobs" />
            <section name="wcf"
                     type="ClickView.Jobs.TypesBuilderConfigurationHandler, ClickView.Jobs" />
            <section name="jobManager.startCommands"
                     type="ClickView.Jobs.TypesBuilderConfigurationHandler, ClickView.Jobs" />
            <section name="job.services"
                     type="ClickView.Jobs.TypesBuilderConfigurationHandler, ClickView.Jobs" />

            <section name="job.builtInProperties"
                     type="ClickView.Jobs.TypesBuilderConfigurationHandler, ClickView.Jobs" />
            <section name="job.tagValueProviders"
                     type="ClickView.Jobs.TypesBuilderConfigurationHandler, ClickView.Jobs" />
            <section name="job.startupFilters"
                     type="ClickView.Jobs.TypesBuilderConfigurationHandler, ClickView.Jobs" />
        </sectionGroup>
    </configSections>

    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.3.5"/>
            <add name="Microsoft SQL Server Compact Data Provider"
                 invariant="System.Data.SqlServerCe.3.5"
                 description=".NET Framework Data Provider for Microsoft SQL Server Compact"
                 type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />

        </DbProviderFactories>
    </system.data>
    <system.serviceModel>
        <diagnostics>
            <messageLogging
                logEntireMessage="true"
                logMalformedMessages="true"
                logMessagesAtServiceLevel="true"
                logMessagesAtTransportLevel="true"

                maxMessagesToLog="3000"
                maxSizeOfMessageToLog="2000"/>
        </diagnostics>

        <bindings>
            <netNamedPipeBinding>
                <binding hostNameComparisonMode="StrongWildcard"
                         maxBufferSize="65536"
                         maxConnections="10"
                         maxReceivedMessageSize="65536"
                         receiveTimeout="00:10:00"
                         transactionFlow="false">
                    <security mode="None">
                    </security>
                </binding>
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding
                    closeTimeout="00:01:00"
                    openTimeout="00:01:00"
                    receiveTimeout="00:10:00"
                    sendTimeout="00:01:00"
                    transactionFlow="false"
                    transferMode="Buffered"
                    transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard"
                    listenBacklog="10"
                    maxBufferPoolSize="10485760"
                    maxBufferSize="10485760"
                    maxConnections="10"
                    maxReceivedMessageSize="10485760">
                    <readerQuotas maxDepth="32"
                                  maxStringContentLength="10485760"
                                  maxArrayLength="16384"
                                  maxBytesPerRead="4096"
                                  maxNameTableCharCount="16384" />
                    <reliableSession ordered="true"
                                     inactivityTimeout="00:10:00"
                                     enabled="false" />
                    <security mode="None" />
                </binding>

            </netTcpBinding>
        </bindings>

        <services>
            <service name="ClickView.Tracking.TrackProviderService">
                <endpoint address="net.pipe://ClickView.Tracking/ITrackProviderService"
                          binding="netNamedPipeBinding"
                          contract="ClickView.Tracking.ITrackProviderService">
                </endpoint>
                <endpoint address="net.tcp://localhost:9000/ClickView.Tracking/ITrackProviderService"
                          binding="netTcpBinding"
                          contract="ClickView.Tracking.ITrackProviderService" />
            </service>
            <service name="ClickView.Tracking.TrackManagerService">
                <endpoint address="net.pipe://ClickView.Tracking/ITrackManagerService"
                          binding="netNamedPipeBinding"
                          contract="ClickView.Tracking.ITrackManagerService" />
                <endpoint address="net.tcp://localhost:9000/ClickView.Tracking/ITrackManagerService"
                          binding="netTcpBinding"
                          contract="ClickView.Tracking.ITrackManagerService" />
            </service>
            <service name="ClickView.Tracking.TrackListenerService">
                <endpoint address="net.pipe://ClickView.Tracking/ITrackListenerService"
                          binding="netNamedPipeBinding"
                          contract="ClickView.Tracking.ITrackListenerService" />
                <endpoint address="net.tcp://localhost:9000/ClickView.Tracking/ITrackListenerService"
                          binding="netTcpBinding"
                          contract="ClickView.Tracking.ITrackListenerService" />
            </service>
            <service name="ClickView.Jobs.Management.JobService">
                <endpoint address="net.pipe://ClickView.Jobs/IJobService"
                          binding="netNamedPipeBinding"
                          contract="ClickView.Jobs.Management.IJobService" />
                <endpoint address="net.tcp://localhost:9000/ClickView.Jobs/IJobService"
                          binding="netTcpBinding"
                          contract="ClickView.Jobs.Management.IJobService" />
            </service>
            <service name="ClickView.Jobs.Management.JobEventService">
                <endpoint address="net.pipe://ClickView.Jobs/IJobEventService"
                          binding="netNamedPipeBinding"
                          contract="ClickView.Jobs.Management.IJobEventService" />
                <endpoint address="net.tcp://localhost:9000/ClickView.Jobs/IJobEventService"
                          binding="netTcpBinding"
                          contract="ClickView.Jobs.Management.IJobEventService" />
            </service>
            <service name="ClickView.Jobs.Management.StarNetwork.StarService">
                <endpoint address="net.pipe://ClickView.Jobs/IStarService"
                          binding="netNamedPipeBinding"
                          contract="ClickView.Jobs.Management.StarNetwork.IStarService" />
                <endpoint address="net.tcp://localhost:9000/ClickView.Jobs/IStarService"
                          binding="netTcpBinding"
                          contract="ClickView.Jobs.Management.StarNetwork.IStarService" />
            </service>
            <service name="ClickView.Jobs.Scheduling.ScheduleLibraryService">
                <endpoint address="net.pipe://ClickView.Jobs/IScheduleLibraryService"
                          binding="netNamedPipeBinding"
                          contract="ClickView.Jobs.Scheduling.IScheduleLibraryService" />
                <endpoint address="net.tcp://localhost:9000/ClickView.Jobs/IScheduleLibraryService"
                          binding="netTcpBinding"
                          contract="ClickView.Jobs.Scheduling.IScheduleLibraryService" />
            </service>
        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceDebug includeExceptionDetailInFaults="True" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.runtime.remoting>
        <application>
            <service>
                <wellknown mode="Singleton"
                           type="ClickView.Jobs.Management.RemoteJobManagerAccessor, ClickView.Jobs"
                           objectUri="RemoteJobManagerAccessor.rem" />
            </service>
            <channels>
                <channel ref="ipc"
                         portName="ClickViewJobManager"
                         secure="true"
                         impersonate="true"
                         authorizedGroup="Everyone">
                    <serverProviders>
                        <formatter ref="binary"
                                   typeFilterLevel="Full" />
                    </serverProviders>
                    <clientProviders>
                        <formatter ref="binary" />
                    </clientProviders>
                </channel>
            </channels>
        </application>
    </system.runtime.remoting>
    <appSettings>
        <add key="clickviewSettingsFile"
             value="ClickView.JobService.xsettings"/>
    </appSettings>

    <connectionStrings>
        <add name="ClickViewJobsEntities"
             connectionString="metadata=res://*/Management.ClickViewJobs.csdl|res://*/Management.ClickViewJobs.ssdl|res://*/Management.ClickViewJobs.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\ClickViewJob.sdf;Enlist=false&quot;"
             providerName="System.Data.EntityClient"/>
    </connectionStrings>

    <applicationSettings>
        <ClickView.Jobs.JobManagerWin.Properties.Settings>
            <setting name="Culture"
                     serializeAs="String">
                <value>en-AU</value>
            </setting>
        </ClickView.Jobs.JobManagerWin.Properties.Settings>
    </applicationSettings>
    <clickview>
        <!-- job manager part-->
        <jobManager.services>
            <service type="ClickView.Jobs.DomainUnhandledExcepationService, ClickView.Jobs" />
            <service type="ClickView.Jobs.SystemEventsService, ClickView.Jobs" />
            <service type="ClickView.Jobs.Management.JobManagerSettingsReaderService, ClickView.Jobs" />
            <service type="ClickView.Jobs.LogService, ClickView.Jobs" />
            <service type="ClickView.Jobs.Management.LogFileService, ClickView.Jobs" />
            <service type="ClickView.Jobs.LogDebugService, ClickView.Jobs" />
            <service type="ClickView.Jobs.Management.JobTemplatesService, ClickView.Jobs" />
            <service type="ClickView.Jobs.Management.EFJobQueueService, ClickView.Jobs" />
            <service type="ClickView.Jobs.Management.WCFHostService, ClickView.Jobs" />
            <service type="ClickView.Jobs.Resources.ResourceRequestQueue, ClickView.Jobs" />
            <service type="ClickView.Jobs.Resources.ResourceManager, ClickView.Jobs" />
            <service type="ClickView.Jobs.Management.JobController, ClickView.Jobs" />
            <service type="ClickView.Jobs.Management.StandaloneJobDispatcherService, ClickView.Jobs" />
            <service type="ClickView.Jobs.Management.StartupFolderWatcher, ClickView.Jobs" />
            <service type="ClickView.Jobs.Scheduling.ScheduleService, ClickView.Jobs" />
            <service type="ClickView.Jobs.Scheduling.ScheduleLibraryService, ClickView.Jobs" />
            <service type="ClickView.Jobs.Management.JobService, ClickView.Jobs" />

        </jobManager.services>
        <jobManager.resources>
            <provider type="ClickView.Jobs.Resources.JobHostCountResourceProvider, ClickView.Jobs" />
            <provider type="ClickView.Jobs.Resources.TaskCountResouseProvider, ClickView.Jobs" />
            <provider type="ClickView.Jobs.Resources.TemplateCountResourceProvider, ClickView.Jobs" />
            <provider type="ClickView.Jobs.Resources.WaitForResourceProvider, ClickView.Jobs" />
            <provider type="ClickView.Jobs.Resources.WaitTimeResourceProvider, ClickView.Jobs" />
            <provider type="ClickView.Jobs.Resources.JobRuntimeScheduleResourceProvider, ClickView.Jobs" />
            <provider type="ClickView.Jobs.Resources.TaskRuntimeScheduleResourceProvider, ClickView.Jobs" />
            <provider type="ClickView.Jobs.Resources.TemplateRuntimeScheduleResourceProvider, ClickView.Jobs" />
        </jobManager.resources>
        <jobManager.startCommands>
            <command type="ClickView.Jobs.Management.StartTrackingCommand, ClickView.Jobs" />
            <command type="ClickView.Jobs.Management.StartDispatchingCommand, ClickView.Jobs" />
        </jobManager.startCommands>
        <wcf>
            <serviceHost type="ClickView.Jobs.Management.JobEventService, ClickView.Jobs" />
        </wcf>
        <job.startupFilters>
            <filter type="ClickView.Jobs.Management.JobStartupProcessCountFilter, ClickView.Jobs" />
            <filter type="ClickView.Jobs.Management.JobStartupStateFilter, ClickView.Jobs" />
            <filter type="ClickView.Jobs.Management.JobStartupPriorityFilter, ClickView.Jobs" />
            <filter type="ClickView.Jobs.Resources.TemplateStartupFilter, ClickView.Jobs" />
            <filter type="ClickView.Jobs.Resources.ResourceStartupFilter, ClickView.Jobs" />
        </job.startupFilters>
    </clickview>
    <startup>
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.0" />
    </startup>
</configuration>
