@{
    ViewBag.Title = "Fantasy Job Service is not available";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
<h2>Fantasy Job Service is not available now!</h2></div>

