@model Fantasy.Web.Models.StandardNavigationDefaultViewModel
@{
    Html.BusinessEngine().HtmlAssets.Styles.Add(this.Url.ThemedContent("~/Content/themes/{0}/jstree/style.css"));
    Html.BusinessEngine().HtmlAssets.Styles.Add(this.Url.ThemedContent("~/Content/themes/{0}/jslayout/layout-default.css"));
    Html.BusinessEngine().HtmlAssets.Scripts.Add(this.Url.Content("~/Scripts/jquery.jstree.js"));
    Html.BusinessEngine().HtmlAssets.Scripts.Add(this.Url.Content("~/Scripts/jquery.layout.js"));
    Html.BusinessEngine().HtmlAssets.Scripts.Add(this.Url.Content("~/Scripts/standardnavigation.default.js"));
}

<script type="text/javascript" >
    //<!--

    var initNavigationTreeNodes = @JsonHelper.Serialize(this.Model.RootTreeItem);

    //-->
</script>

<div id="pagelayout" style="min-width:100%;min-height:300px" >
<div id="navigationpanel" class="ui-layout-west" >
    <div id="navigationTree" ></div>
</div>
<div id="contentpanel" class="ui-layout-center">content</div>
</div>







