
@if (Request.IsAuthenticated) {
    <p>
        Hello, @Html.ActionLink(Fantasy.BusinessEngine.BusinessEngineContext.Current.User.FullName, "ChangePassword", "Account", null, new { @class = "username" })!
        @Html.ActionLink("Log Off", "LogOff", "Account")
    </p>
} else {
    <ul>  
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "logonLink" })</li>
    </ul>
}