<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fantasy.Studio.BusinessEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fantasy.Studio.BusinessEngine.Properties.Settings>
            <setting name="PropertyEditorGridViewLayout" serializeAs="Xml">
                <value>
                    <GridViewLayoutSetting />
                </value>
            </setting>
            <setting name="EnumValuesPanelGridViewLayout" serializeAs="Xml">
                <value>
                    <GridViewLayoutSetting />
                </value>
            </setting>
            <setting name="AddGACReferenceDialogGridViewLayout" serializeAs="Xml">
                <value>
                    <GridViewLayoutSetting />
                </value>
            </setting>
            <setting name="DefaultTableSchema" serializeAs="String">
                <value>dbo</value>
            </setting>
            <setting name="DefaultClassTablePrefix" serializeAs="String">
                <value>CLS</value>
            </setting>
            <setting name="DefaultAssociationTablePrefix" serializeAs="String">
                <value>ASSN</value>
            </setting>
            <setting name="DefaultTableSpace" serializeAs="String">
                <value />
            </setting>
        </Fantasy.Studio.BusinessEngine.Properties.Settings>
    </userSettings>
</configuration>