<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fantasy.Studio.BusinessEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fantasy.Studio.BusinessEngine.Properties.Settings>
            <setting name="PropertyEditorGridViewLayout" serializeAs="Xml">
                <value>
                    <GridViewLayoutSetting />
                </value>
            </setting>
            <setting name="EnumValuesPanelGridViewLayout" serializeAs="Xml">
                <value>
                    <GridViewLayoutSetting />
                </value>
            </setting>
            <setting name="AddGACReferenceDialogGridViewLayout" serializeAs="Xml">
                <value>
                    <GridViewLayoutSetting />
                </value>
            </setting>
            <setting name="ObjectSecurityPropertyGridViewLayout" serializeAs="Xml">
                <value>
                    <GridViewLayoutSetting />
                </value>
            </setting>
            <setting name="DefaultTableSchema" serializeAs="String">
                <value>dbo</value>
            </setting>
            <setting name="DefaultClassTablePrefix" serializeAs="String">
                <value>CLS</value>
            </setting>
            <setting name="DefaultAssociationTablePrefix" serializeAs="String">
                <value>ASSN</value>
            </setting>
            <setting name="DefaultTableSpace" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultParticipantACLPanelLeftColumnWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="BusinessClassAutoScriptT4Path" serializeAs="String">
                <value>.\Templates\BusinessClass.Designer.tt</value>
            </setting>
            <setting name="NewBusinessClassT4Path" serializeAs="String">
                <value>.\Templates\NewBusinessClass.tt</value>
            </setting>
            <setting name="CodeEditorFontFamily" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="CodeEditorFontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="SolutionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BusinessDataAssemblyName" serializeAs="String">
                <value>Fantasy.BusinessData</value>
            </setting>
            <setting name="WebAssemblyName" serializeAs="String">
                <value>Fantasy.Web</value>
            </setting>
            <setting name="ClassLibraryTemplatePath" serializeAs="String">
                <value>.\Templates\ClassLibraryTemplate.csproj</value>
            </setting>
            <setting name="SolutionTemplatePath" serializeAs="String">
                <value>.\Templates\SolutionTemplate.tt</value>
            </setting>
            <setting name="BusinessDataProjectId" serializeAs="String">
                <value>{4CDABEB6-2016-476B-8692-4ED84EBC606D}</value>
            </setting>
            <setting name="BusinessEnumT4Path" serializeAs="String">
                <value>.\Templates\BusinessEnum.tt</value>
            </setting>
        </Fantasy.Studio.BusinessEngine.Properties.Settings>
    </userSettings>
</configuration>