@model Fantasy.BusinessEngine.BusinessObject
@{
  
    Html.HtmlAssets().AddScript(this.Url.Content("~/Scripts/fantasy/jquery.editingview.js"));
    Html.HtmlAssets().AddScript(this.Url.Content("~/Scripts/Views/standardscalar.js"));


    string id = "form_" + Guid.NewGuid().ToString("N");
    this.Html.HtmlAssets().AddStartupScript(String.Format("$('#{0} > div:first').buttonset();", id));
    this.Html.BusinessObjectRender(this.Model, "#" + id);
    this.Html.HtmlAssets().AddStartupScript(String.Format("stdscalar.bindCreationView('{0}', '{1}');", id, this.Model.Id));
     
}

@using (this.Ajax.BeginAppViewForm(new AjaxOptions(), action: "Create", routeValues: new {objId = this.Model.Id, classId=this.Model.ClassId}, htmlAttributes: new { id = id }))
{
     <div><button type="submit">Save</button><button type="button" onclick="stdscalar.cancelCreation('@id', '@this.Model.Id')">Cancel</button></div>
  
     @this.Html.PropertyGrid().BindModel(this.Model)
}

