@model Fantasy.Web.Models.StandardNavigationDefaultViewModel
@{
    Html.HtmlAssets().AddStyleSheet(this.Url.ThemedContent("~/Content/themes/{0}/jstree/style.css"));
    Html.HtmlAssets().AddStyleSheet(this.Url.ThemedContent("~/Content/themes/{0}/jslayout/layout-default.css"));
    Html.HtmlAssets().AddStyleSheet(this.Url.ThemedContent("~/Content/themes/{0}/jquery.contextmenu.css"));
   
   
    Html.HtmlAssets().AddScript(this.Url.Content("~/Scripts/jquery.layout.js"));
    Html.HtmlAssets().AddScript(this.Url.Content("~/Scripts/jquery.jstree.js"));
    Html.HtmlAssets().AddScript(this.Url.Content("~/Scripts/jquery.contextmenu.js"));
    Html.HtmlAssets().AddScript(this.Url.Content("~/Scripts/standardnavigation/default.js"));


    Html.HtmlAssets().AddStartupScript("var initNavigationTreeNodes = " + @JsonHelper.Serialize(this.Model.RootTreeItem) + ";stdnav.showtree(initNavigationTreeNodes);"); 
   
}


<div id="pagelayout" style="min-width:100%;min-height:300px" >
<div id="navigationpanel" class="ui-layout-west" >
    <div id="navigationTree" ></div>
</div>
<div id="contentpanel" class="ui-layout-center appviewcontainer">
    @Html.ScalarView(Model.ObjId)
</div>
</div>







