@model Fantasy.BusinessEngine.BusinessObject
@{
  
     string id = Guid.NewGuid().ToString("N");
     this.Html.HtmlAssets().AddStartupScript(String.Format("$('#{0}').buttonset();", id));
     
}

@using (this.Ajax.BeginAppViewForm(new AjaxOptions(), action:"SaveCreation"))
{

    this.Html.BusinessObjectRender(this.Model, "#" + this.ViewContext.FormContext.FormId);                                         
    
    <div id="@id"><input type="submit"  value="Save" />@this.Ajax.ScalarViewLink("Cancel", this.Model.Id, action: "CancelCreation")</div>
   
   
@this.Html.PropertyGrid().BindModel(this.Model)
}
