@model Fantasy.BusinessEngine.BusinessObject

@{
     System.Web.Routing.RouteValueDictionary attrs = new System.Web.Routing.RouteValueDictionary();
     attrs["data-bind"] = "enable: acl.deletable";
     string id = Guid.NewGuid().ToString("N");
     this.Html.HtmlAssets().AddStartupScript(String.Format("$('#{0}').buttonset();", id));
     
}

@using (this.Ajax.BeginAppViewForm(new AjaxOptions(), action:"Save"))
{

    this.Html.BusinessObjectRender(this.Model, "#" + this.ViewContext.FormContext.FormId);                                         
    
    <div id="@id"><input type="submit"  value="Save" />@this.Ajax.ScalarViewLink("Delete", this.Model.Id, action: "Delete", htmlAttributes: attrs)</div>
   
   
@this.Html.PropertyGrid().BindModel(this.Model)
}