@inherits Fantasy.Web.Mvc.Html.BusinessPropertyEditorBase
@{
    this.Html.HtmlAssets().AddStyleSheet(this.Url.ThemedContent("~/Content/themes/{0}/editors/businessobjectpropertyeditor.css"));
}
@if(this.PropertyDescriptor.CanRead || this.Model.Accessbility != Fantasy.Web.Accessbility.Collapse)
{
<span @WriteAttributes() data-bind="visibility:acl.@this.PropertyDescriptor.CodeName">
   
    @if (this.PropertyDescriptor.CanRead)
    {
         <!-- ko with: @this.PropertyDescriptor.CodeName -->
         if (this.PropertyDescriptor.CanWrite)
         {
             <input type="hidden" name="@this.FullHtmlFieldName" data-bind="value : Id"  />
             <button type="button">...</button>
         }
         <span class="readonly-span" data-bind="text : Name" ></span>
          <!-- /ko -->
    }
    
</span> 
}

@functions
{
    protected override void PreExecute()
    {
        this.AddClass("businessobjectproperty-editor");
        base.PreExecute();
    }
}
