@{
    ViewBag.Title = "Home";
}




<h3>Home</h3>

<section class="features">
    <section class="feature">
        <p>
           This page is undering development...
        </p>
    </section>
   
</section>